doctype html
html
  head
    meta(charset='UTF-8')
    title Clipboard Controller
    link(rel='stylesheet', href='assets/css/photon.min.css', media='screen')
    style(media='screen').
      .white {
        color: #fff !important;
      }
      a {
        color: #333;
      }
      td{
      max-width:300px;
      }
  body.window
    header.toolbar.toolbar-header
      .toolbar-actions
        <h1 class="title">Jargon Lookup</h1>
    .window-content
      .pane
        table.table-striped
          thead
            tr
              th definition
              th Time
              th Action
          tbody.clipboard
          input
  script(type='text/javascript', src='./window.js')
